# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\各种代码\Java\Algorithm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
